{% extends 'partials/base.html.twig' %}

{% block content %}
    {{ page.content }}
    {% block sequencer %}
        <h1>You are using the sequencer template!</h1>
        <h2> Sequencer goes here.</h2>
    {% endblock %}
{% endblock %}
